@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700&display=swap");
body {
  font-family: 'Mulish', sans-serif;
  background-color: #f5fafe;
  color: #333333;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.container {
  max-width: 1130px;
  padding: 0 15px;
  margin: 0 auto;
}

.container-fluid {
  max-width: 1950px;
  padding: 0 15px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.link {
  color: inherit;
  transition: all 0.1s ease-in-out;
}

.link:hover {
  color: #ca1538;
}

.icon {
  display: inline-block;
  width: 20px;
  height: 20px;
}

.btn-accent {
  border: 0;
  cursor: pointer;
  color: #ffffff;
  background-color: #ca1538;
  border-radius: 5px;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  scroll-behavior: auto;
}

a {
  background-color: transparent;
  text-decoration: none;
  white-space: nowrap;
}

button {
  cursor: pointer;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: inherit;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

li {
  list-style: none;
}

iframe,
img,
input,
select,
textarea {
  height: auto;
  max-width: 100%;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  text-transform: none;
  word-wrap: normal;
}

@keyframes pulse-youtube {
  0% {
    box-shadow: 0 0 0 0 rgba(205, 73, 99, 0.7);
  }
  70% {
    box-shadow: 0 0 0 5px rgba(205, 73, 99, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(205, 73, 99, 0);
  }
}

@keyframes pulse-facebook {
  0% {
    box-shadow: 0 0 0 0 rgba(12, 170, 220, 0.7);
  }
  70% {
    box-shadow: 0 0 0 5px rgba(12, 170, 220, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(12, 170, 220, 0);
  }
}

@keyframes pulse-instagram {
  0% {
    box-shadow: 0 0 0 0 rgba(234, 148, 231, 0.7);
  }
  70% {
    box-shadow: 0 0 0 5px rgba(234, 148, 231, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(234, 148, 231, 0);
  }
}

@keyframes pulse-nav {
  0% {
    box-shadow: 0 0 0 0 rgba(202, 21, 56, 0.7);
  }
  70% {
    box-shadow: 0 0 0 5px rgba(202, 21, 56, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(202, 21, 56, 0);
  }
}

@keyframes pulse-cart {
  0% {
    box-shadow: 0 0 0 0 rgba(202, 21, 56, 0.7);
  }
  70% {
    box-shadow: 0 0 0 5px rgba(202, 21, 56, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(202, 21, 56, 0);
  }
}

@keyframes wind-cart {
  0% {
    transform: translateX(0);
    opacity: .5;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: .5;
  }
  100% {
    transform: translateX(-5px);
    opacity: 0;
  }
}

.header__logo {
  display: flex;
  max-width: 175px;
}

.header__link {
  transition: all 0.2s ease-in-out;
}

.header__link:hover {
  color: #ca1538;
}

.header__main {
  background-color: #ffffff;
}

.header__main-inner {
  display: grid;
  padding: 40px 0;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  font-weight: 600;
}

.header__main-item:nth-child(2) {
  width: 100%;
}

.header__main-item:nth-child(3) {
  display: flex;
  align-items: center;
  justify-self: flex-end;
}

.search-form {
  max-width: 350px;
  display: flex;
  margin: 0 auto;
}

.search-form__input {
  padding: 10px 25px;
  width: 100%;
  border: 0;
  background-color: #f5fafe;
  border-radius: 5px 0 0 5px;
}

.search-form__button {
  padding: 0 15px;
  border-radius: 0 5px 5px 0;
}

.cart {
  margin-right: 50px;
  position: relative;
}

.cart::before, .cart::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 2px;
  left: -13px;
  top: 7px;
  background-color: #e7eaed;
  animation: wind-cart 0.9s infinite;
}

.cart::after {
  top: 12px;
  width: 15px;
  animation: wind-cart 0.7s infinite;
}

.cart__icon {
  width: 25px;
  height: 25px;
}

.cart__value {
  min-width: 18px;
  height: 18px;
  padding: 5px;
  position: absolute;
  top: -7px;
  left: 15px;
  color: #ffffff;
  background-color: #ca1538;
  border-radius: 50%;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: pulse-cart 0.9s infinite;
}

.profile {
  display: flex;
  align-items: center;
}

.profile__avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}

.profile__avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile__username {
  margin: 0 10px 0 15px;
  font-size: 14px;
}

.header__bottom {
  background-color: #0a223d;
}

.header__nav-logo,
.header__burger {
  display: none;
}

.header__nav-list {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  color: #ffffff;
}

.header__nav-item {
  flex-basis: 100%;
  transition: all 0.2s ease-in-out;
}

.header__nav-item:not(:last-child) {
  border-right: 1px dashed rgba(255, 255, 255, 0.15);
}

.header__nav-item:hover, .header__nav-item._active {
  background-color: #ca1538;
}

.header__nav-link {
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: inherit;
}

.package {
  margin-bottom: 70px;
}

.package__head {
  display: grid;
  align-items: center;
  grid-gap: 5px 20px;
  grid-template-columns: repeat(2, max-content) 1fr max-content;
  margin-bottom: 20px;
}

.package__star-rating {
  grid-row: 1;
}

.package__title {
  grid-row: 2;
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
}

.package__offer {
  grid-row: 2;
}

.package__description {
  grid-row: 3;
  grid-column: span 3;
}

.package__user-rating {
  grid-column: 4;
  grid-row: span 3;
  text-align: center;
}

.user-rating__value {
  font-size: 16px;
  font-weight: 600;
}

.user-rating__value span {
  font-size: 12px;
}

.package__offer,
.package__user-rating {
  padding: 3px 10px;
  color: #ffffff;
  background-color: #ca1538;
  border-radius: 5px;
}

.package__main {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: minmax(300px, 725px) minmax(330px, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.package__card {
  overflow: hidden;
  border-radius: 10px;
}

.package__card:nth-child(2) {
  padding: 25px;
  color: #ffffff;
  background-color: #0a223d;
  display: flex;
  flex-direction: column;
}

.package__slider {
  grid-row: span 2;
}

.package__slider-item {
  width: 100%;
  height: 100%;
  position: relative;
}

.package__slider-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: linear-gradient(180deg, rgba(0, 122, 223, 0.48) 0%, rgba(255, 255, 255, 0.128) 100%);
}

.package__slider-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.package__card-item {
  display: flex;
  justify-content: space-between;
}

.package__card-item:nth-child(1) {
  flex: 1;
}

.package__card-item:nth-child(2) {
  margin-bottom: 15px;
}

.package__price-value {
  font-size: 24px;
  font-weight: 600;
}

.package__card-icon {
  margin-right: 10px;
}

.package__call-text {
  font-size: 16px;
}

.package__card-button {
  width: 100%;
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer {
  font-size: 14px;
  color: #BDBDBD;
  background-color: #0a223d;
}

.footer__top {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  padding: 90px 0;
}

.footer__logo {
  flex-shrink: 0;
  max-width: 150px;
}

.footer__logo-small {
  display: none;
}

.footer__list {
  display: flex;
  flex-direction: column;
}

.footer__title {
  font-size: inherit;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.footer__item-social {
  margin-top: auto;
}

.social {
  display: flex;
}

.social__title {
  margin-bottom: 0;
  margin-right: 25px;
}

.social__list {
  display: inherit;
  gap: 10px;
}

.social__link {
  display: flex;
  color: inherit;
}

.social__link {
  transition: all 0.2s ease-in-out;
}

.social__link:hover.social__link--facebook {
  color: #0caadc;
}

.social__link:hover.social__link--youtube {
  color: #cd4963;
}

.social__link:hover.social__link--instagram {
  color: #ea94e7;
}

.footer__main {
  display: flex;
  gap: 40px;
  justify-content: space-between;
  margin-bottom: 50px;
}

.contacts,
.submit-form {
  flex-basis: 100%;
}

.contacts__item {
  display: flex;
}

.contacts__item:not(:last-child) {
  margin-bottom: 10px;
}

.contacts__icon {
  margin-right: 15px;
  flex-shrink: 0;
}

.submit-form {
  display: grid;
  grid-gap: 10px;
  font-size: 12px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(2, max-content) 1fr max-content;
}

.submit-form__title {
  font-size: 14px;
  grid-column: span 2;
}

.submit-form__item {
  padding: 10px 20px;
  border-radius: 5px;
  border: 0;
}

.submit-form__item-textarea {
  width: 100%;
  grid-column: span 2;
  resize: none;
}

.submit-form__bottom {
  grid-column: span 2;
  display: flex;
  justify-content: space-between;
}

.submit-form__item-button {
  padding: 15px 65px;
}

.submit-form__item-required {
  padding: 0;
}

.footer__bottom,
.footer__bottom-list {
  display: flex;
}

.footer__bottom {
  padding: 30px 0;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer__bottom-item:not(:last-child) {
  margin-right: 10px;
}

.star-rating {
  display: flex;
}

.star-rating__icon {
  color: #f2994a;
  width: 12px;
  height: 12px;
}

.star-rating__icon:not(:last-child) {
  margin-right: 3px;
}

.breadcrumbs {
  margin-bottom: 25px;
}

.breadcrumbs__list {
  padding: 15px 0;
  display: flex;
  flex-wrap: wrap;
}

.breadcrumbs__item._current {
  color: #ca1538;
}

.breadcrumbs__item:not(:last-child) {
  margin-right: 15px;
  padding-right: 15px;
  position: relative;
}

.breadcrumbs__item:not(:last-child)::before {
  content: "/";
  position: absolute;
  top: 50%;
  right: -2px;
  transform: translateY(-50%);
}

@media (max-width: 950px) {
  .header__main-inner {
    grid-template-columns: 1fr max-content;
  }
  .header__nav-list,
  .header__main-item:nth-child(1) {
    display: none;
  }
  .header__nav-logo,
  .header__burger {
    display: block;
  }
  .search-form {
    margin: 0;
  }
  .header__nav {
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .header__burger {
    width: 30px;
    height: 26px;
    position: relative;
    cursor: pointer;
  }
  .header__burger::before,
  .header__burger span, .header__burger::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    transition: all 0.3s;
  }
  .header__burger::before {
    top: 0;
  }
  .header__burger span {
    top: 50%;
    transform: translateY(-50%);
  }
  .header__burger::after {
    bottom: 0;
  }
  .header__burger._active {
    transition: all 0.3s;
    transform: rotate(180deg);
  }
  .header__burger._active::before {
    top: 12px;
    transform: rotate(-45deg);
  }
  .header__burger._active span {
    transform: translateY(-50%) scale(0);
  }
  .header__burger._active::after {
    bottom: 12px;
    transform: rotate(45deg);
  }
}

@media (max-width: 875px) {
  .footer__top {
    padding: 30px 0;
    flex-direction: column;
  }
  .footer__logo {
    display: none;
  }
  .footer__logo-small {
    display: block;
  }
  .footer__list {
    gap: 0 15px;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .footer__item-title {
    width: 100%;
  }
  .footer__item-social {
    margin-top: 10px;
    width: 100%;
  }
  .social {
    flex-direction: column;
  }
  .social__title {
    margin-bottom: 5px;
  }
  .footer__main {
    margin-bottom: 15px;
    flex-direction: column;
  }
}

@media (max-width: 740px) {
  .search-form {
    max-width: 250px;
  }
  .cart {
    margin-right: 25px;
  }
  .package__main {
    grid-template-columns: minmax(300px, 725px) minmax(300px, 1fr);
    grid-template-rows: repeat(2, max-content);
  }
  .package__slider {
    grid-column: span 2;
    grid-row: 1;
  }
}

@media (max-width: 675px) {
  .package__main {
    grid-template-columns: 1fr;
    grid-template-rows: 300px repeat(2, max-content);
  }
  .package__slider {
    grid-column: 1;
  }
}

@media (max-width: 600px) {
  .header__main-inner {
    padding: 20px 0;
    grid-gap: 20px;
    grid-template-columns: 1fr;
  }
  .header__main-item:nth-child(2) {
    grid-row: 2;
  }
  .header__main-item:nth-child(3) {
    grid-row: 1;
    width: 100%;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .search-form {
    max-width: 100%;
  }
  .cart {
    margin-right: 15px;
  }
  .package__head {
    grid-template-columns: 1fr repeat(2, max-content);
  }
  .package__title {
    grid-column: span 3;
  }
  .user-rating__text {
    display: none;
  }
  .package__user-rating {
    grid-column: 3;
    grid-row: 1;
  }
  .package__offer {
    grid-row: 1;
  }
}

@media (max-width: 426px) {
  .submit-form__item {
    grid-column: span 2;
  }
  .footer__bottom {
    padding: 0 0 30px;
  }
  .footer__bottom-list {
    flex-wrap: inherit;
  }
}
/*# sourceMappingURL=style.css.map */