@media (max-width: 950px) {
  .header__main-inner{
    grid-template-columns: 1fr max-content;
  }
  .package__title,
  .package-menu__list,
  .header__nav-list,
  .header__main-item:nth-child(1) {
    display: none;
  }
  .header__nav-logo,
  .header__burger,
  .package__burger,
  .package-menu__title {
    display: block;
  }
  .search-form {
    margin: 0;
  }
  .header__nav {
    min-height: 60px;
    @include flx-x-center;
    justify-content: space-between
  }
  .burger-js {
    @include burger;
  }
  .package-menu {
    @include flx-x-center;
    justify-content: space-between;
  }
  .package__title {
    margin-bottom: 0;
  }
  .package-card__side {
    display: grid;
    row-gap: 70px;
    grid-template-columns: repeat(2, 1fr);
  }
  .package-card__list--xxl:nth-child(3) {
    width: 100%;
    grid-column: span 2;
    column-count: 2;
    column-gap: 20px;
    position: relative;
    &::before {
      @include pseudo;
      width: 100%;
      top: -35px;
      border-bottom: 1px dashed #f1f1f1;
    }
  }
  .package__burger {
    &::before,
    & span,
    &::after {
      @include pseudo;
      width: 100%;
      height: 2px;
      background-color: $color-dark;
      transition: all 0.3s;
    }
  }
  .other__card--xxl {
    grid-column: span 3;
  }
  .other__card:last-child {
    display: none;
  }
}

@media (max-width: 890px) {
  .other__inner {
    grid-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 500px);
  }
  .other__card--xxl {
    grid-column: span 2;
  }
  .other__card:last-child {
    display: flex;
  }
}


@media (max-width: 875px) {
  .footer__top {
    padding: 30px 0;
    flex-direction: column;
  }
  .footer__logo {
    display: none;
  }
  .footer__logo-small {
    display: block;
  }
  .footer__list {
    gap: 0 15px;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .footer__item-title {
      width: 100%;
  }
  .footer__item-social {
    margin-top: 10px;
    width: 100%;
  }
  .social {
    flex-direction: column;
  }
  .social__title {
    margin-bottom: 5px;
  }
  .footer__main {
    margin-bottom: 15px;
    flex-direction: column;
  }
  .package-cards {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, max-content);
  }
  .package-cards__item--xxl {
    grid-column: 1;
  }
}

@media (max-width: 740px) {
  .search-form {
    max-width: 250px;
  }
  .cart {
    margin-right: 25px;
  }
  .hero__main {
    grid-template-columns: minmax(300px, 725px) minmax(300px, 1fr);
    grid-template-rows: repeat(2, max-content);
  }
  .hero__slider {
    grid-column: span 2;
    grid-row: 1;
  }
}

@media (max-width: 675px) {
  .hero__main {
    grid-template-columns: 1fr;
    grid-template-rows: 300px repeat(2, max-content);
  }
  .hero__slider {
    grid-column: 1;
  }
  .package-card__side {
    display: grid;
    row-gap: 70px;
    grid-template-columns: 1fr;
  }
  .package-card__list--xxl {
    width: 100%;
  }
  .package-card__list--xxl:nth-child(3) {
    grid-column: unset;
    column-count: 1;
    column-gap: 20px;
  }
}

@media (max-width: 600px) {
  .header__main-inner{
    padding: 20px 0;
    grid-gap: 20px;
    grid-template-columns: 1fr;
  }
  .header__main-item:nth-child(2) {
    grid-row: 2;
  }
  .header__main-item:nth-child(3) {
    grid-row: 1;
    width: 100%;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .search-form {
    max-width: 100%;
  }
  .cart {
    margin-right: 15px;
  }
  .hero__head {
    grid-template-columns: 1fr repeat(2, max-content);
  }
  .hero__title {
    grid-column: span 3;
  }
  .user-rating__text {
    display: none;
  }
  .hero__user-rating {
    grid-column: 3;
    grid-row: 1;
  }
  .hero__offer {
    grid-row: 1;
  }
  .package-card__list {
    column-count: unset;
  }
  .other__inner {
    grid-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 500px);
  }
  .other__card {
    grid-column: span 2;
  }
  .other__card--xxl {
    flex-direction: column;
    grid-column: span 2;
  }
  .other__card-paragraph,
  .other__card:last-child {
    display: none;
  }
}

@media (max-width: 426px) {
  .submit-form__item {
    grid-column: span 2;
  }
  .footer__bottom {
    padding: 0 0 30px;
  }
  .footer__bottom-list {
    flex-wrap: inherit;
  }
}