@media (max-width: 950px) {
  .header__main-inner{
    grid-template-columns: 1fr max-content;
  }
  .header__nav-list,
  .header__main-item:nth-child(1) {
    display: none;
  }
  .header__nav-logo,
  .header__burger {
    display: block;
  }
  .search-form {
    margin: 0;
  }
  .header__nav {
    min-height: 60px;
    @include flx-x-center;
    justify-content: space-between
  }
  .header__burger {
    @include burger;
  }
}

@media (max-width: 875px) {
  .footer__top {
    padding: 30px 0;
    flex-direction: column;
  }
  .footer__logo {
    display: none;
  }
  .footer__logo-small {
    display: block;
  }
  .footer__list {
    gap: 0 15px;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .footer__item-title {
      width: 100%;
  }
  .footer__item-social {
    margin-top: 10px;
    width: 100%;
  }
  .social {
    flex-direction: column;
  }
  .social__title {
    margin-bottom: 5px;
  }
  .footer__main {
    margin-bottom: 15px;
    flex-direction: column;
  }
}

@media (max-width: 740px) {
  .search-form {
    max-width: 250px;
  }
  .cart {
    margin-right: 25px;
  }
  .package__main {
    grid-template-columns: minmax(300px, 725px) minmax(300px, 1fr);
    grid-template-rows: repeat(2, max-content);
  }
  .package__slider {
    grid-column: span 2;
    grid-row: 1;
  }
}

@media (max-width: 675px) {
  .package__main {
    grid-template-columns: 1fr;
    grid-template-rows: 300px repeat(2, max-content);
  }
  .package__slider {
    grid-column: 1;
  }
}

@media (max-width: 600px) {
  .header__main-inner{
    padding: 20px 0;
    grid-gap: 20px;
    grid-template-columns: 1fr;
  }
  .header__main-item:nth-child(2) {
    grid-row: 2;
  }
  .header__main-item:nth-child(3) {
    grid-row: 1;
    width: 100%;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .search-form {
    max-width: 100%;
  }
  .cart {
    margin-right: 15px;
  }
  .package__head {
    grid-template-columns: 1fr repeat(2, max-content);
  }
  .package__title {
    grid-column: span 3;
  }
  .user-rating__text {
    display: none;
  }
  .package__user-rating {
    grid-column: 3;
    grid-row: 1;
  }
  .package__offer {
    grid-row: 1;
  }
}

@media (max-width: 426px) {
  .submit-form__item {
    grid-column: span 2;
  }
  .footer__bottom {
    padding: 0 0 30px;
  }
  .footer__bottom-list {
    flex-wrap: inherit;
  }
}